@page
@model IndexModel
@{
    ViewData["Title"] = "Shop";
}

<div class="text-center">
    <h1 class="display-4">Produkte</h1>
    <ul id="products-list"></ul>
</div>

@section Scripts {
<script src="~/js/api.js"></script>
}
